<div class="flex justify-content-between">
    <h2>Clientes</h2>
    <p-button label="Agregar cliente" (onClick)="showAddModal()"></p-button>
  </div>
  <div class="flex">
      <p-table [value] = "listCustomers" 
        [paginator]="true" 
        [rows]="10" 
        [lazy]="true" 
        (onLazyLoad)="loadCustomers($event)"
        [totalRecords]="totalElements"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>direccion</th>
            <th>Telefono</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="showEditCustomerModal(customer)"
              ></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  <app-add-edit-customer 
    [displayAddEditModal]="displayAddEditModal"
    [selectedCustomer] = "selectedCustomer"
    (clickClose)="hideAddModal($event)" 
    (clickAddEdit)="saveOrUpdateCustomerList($event)"></app-add-edit-customer>
  
    <p-toast position="bottom-right"></p-toast>
    